@model IEnumerable<SmartLibrary.Entities.Person>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
